SUPABASE_URL=https://ifhqlvhwtrwqavcppwua.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmaHFsdmh3dHJ3cWF2Y3Bwd3VhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEyNzM3OTIsImV4cCI6MjA2Njg0OTc5Mn0.CNnvXMa-ts8W9cd32b8-f1BkYcMLxvtZDMIV7f_dHM4
OPENROUTER_API_KEY=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